/qdeclarativefolderlistmodel.cpp.orig
/qdeclarativefolderlistmodel.h.orig
/qrangemodel.h.orig
/qstyleitem.cpp.orig
/qstyleitem.h.orig
/qstyleplugin.cpp.orig
/qstyleplugin.h.orig
/qtmenu.cpp.orig
/qtmenu.h.orig
/qtmenubar.cpp.orig
/qtmenubar.h.orig
/qwheelarea.cpp.orig
/qwheelarea.h.orig
/styleitem.pro.orig
